*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a{
    text-decoration: none;
    margin: 0 5px;
    color: white;
}
.home_body{
    width: 100%;
    height: 90vh;
    background-color: gray;
    text-align: center;
}
.home_body .my_image{
    width: 100%;
    height: 50vh;
    padding-top: 20px;
    text-align: center;
}
.home_body .my_image img{
    height: 80%;
    width: 20%;
    border-radius: 370px;
    border: 2px dotted black;
}
.home_body .my_intro{
    color: white;
}
.home_body .my_intro p{
    padding: 6px 0;
}
/* ************************Education****************** */
.edu_body{
    height: 90vh;
    width: 100%;
    text-align: center;
    padding-top: 30vh;
    background-color: gray;
    color: white;
}
#itu_img{
    padding-top: 10px;
    border-radius: 5px;
}